rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // User Profiles
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Swap Requests
    match /swap_requests/{requestId} {
      allow create: if request.auth != null && request.resource.data.from == request.auth.uid;
      allow read, update, delete: if request.auth != null && 
        (resource.data.from == request.auth.uid || resource.data.to == request.auth.uid);
    }
  }
}
